/* ROOT */

:root {
  /* FONTS */
  --ff-poppins: "Poppins", sans-serif;

  /* FONT SIZE */
  --ff-text: min(1.1rem, 4vw);
  --ff-anchor: 1.1rem;
  --ff-heading: 1.4rem;

  /* FONT WEIGHT */
  --ff-bold: 700;
  --ff-normal: 400;
  /* COLORS */
  --color-grey: #d9d9d9;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-orange: rgb(255, 153, 19);

  /* GAP */
  --gap: 1rem;

  /* PADDING */
  --padding-xsmall: 0.5rem;
  --padding-small: 1rem;
  --padding-medium: 2rem;

  /* LINE HEIGHT */
  --lineheight: 2;

  /* BORDER RADIUS */
  --border-radius: 1.3rem;
}

/* RESET */

* {
  font-family: var(--ff-poppins);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--ff-text);
  color: var(--color-black);
  text-decoration: none;
  list-style-type: none;
}

/* LAYOUT */

div.website {
  display: grid;
  grid-template-columns: 3fr 1fr;
  --mobilecheck: big;
}

img {
  width: min(75vw, 50rem);
}

aside.sidebar {
  display: block;
}

@media only screen and (max-width: 600px) {
  div.website {
    grid-template-columns: 1fr;
    --mobilecheck: small;
  }
  aside.sidebar {
    display: none;
  }
}
